<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Class</strong></div>
      <div class="card-body">
        <form [formGroup]="createClassForm">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="class"
                >Class<span class="text-danger">*</span></label
              >
              <div class="">
                <input
                  type="text"
                  id="class"
                  name="class"
                  class="form-control"
                  placeholder="Class"
                  formControlName="class"
                />
                <div *ngIf="class.invalid && class.touched">
                  <small class="text-danger" *ngIf="class.errors?.required">
                    Please Enter Class
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="class_numeric"
                >Class Numeric<span class="text-danger">*</span>
              </label>
              <div class="">
                <input
                  type="text"
                  id="class_numeric"
                  name="class_numeric"
                  class="form-control"
                  placeholder="Class Numeric"
                  formControlName="class_numeric"
                />
                <div *ngIf="class_numeric.invalid && class_numeric.touched">
                  <small
                    class="text-danger"
                    *ngIf="class_numeric.errors?.required"
                  >
                    Please Enter Class Numeric
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="teacher"
                >Teacher Name <span class="text-danger">*</span></label
              >
              <div class="">
                <!-- <input
                  type="password"
                  id="teacher_id"
                  name="teacher_id"
                  class="form-control"
                  placeholder="Teacher Name"
                /> -->

                <select class="form-control" formControlName="teacher">
                  <option value="" selected disabled>----Select----</option>
                  <option
                    *ngFor="let data of TeacherList"
                    value="{{ data._id }}"
                    title="{{ data.name }}"
                    >{{ data.name }}</option
                  >
                  <div *ngIf="teacher.invalid && teacher.touched">
                    <small class="text-danger" *ngIf="teacher.errors?.required">
                      Please Enter Teacher Name
                    </small>
                  </div>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-md-3 col-form-label" for="note">Note </label>
              <div class="">
                <textarea
                  type="text"
                  id="note"
                  name="note"
                  class="form-control"
                  placeholder="Note"
                  formControlName="note"
                ></textarea>
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="editClass()"
            [disabled]="createClassForm.invalid"
          >
            <i class="fa fa-dot-circle-o"></i>
            Edit Class
          </button>
          <button
            type="reset"
            class="btn btn-sm btn-danger"
            (click)="resetClass()"
          >
            <i class="fa fa-ban"></i> Reset
          </button>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
