<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Event</strong></div>
      <div class="card-body">
        <form [formGroup]="createEventForm">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="title"
                >Title<span class="text-danger">*</span></label
              >
              <div class="">
                <input
                  type="text"
                  id="title"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                  formControlName="title"
                />
                <div *ngIf="title.invalid && title.touched">
                  <small class="text-danger" *ngIf="title.errors?.required">
                    Please Enter Title
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="start_date"
                >Starting Date<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  class="form-control"
                  id="start_date"
                  formControlName="start_date"
                  type="text"
                  name="start_date"
                  (change)="onDateChanged()"
                  placeholder="Starting Date"
                />
              </div>
              <div *ngIf="start_date.invalid && start_date.touched">
                <small class="text-danger" *ngIf="start_date.errors?.required">
                  Please Enter Starting Date
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="end_date"
                >Ending Date<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  class="form-control"
                  id="end_date"
                  formControlName="end_date"
                  type="text"
                  name="end_date"
                  (change)="onDateChanged()"
                  placeholder="Ending Date"
                />
              </div>
              <div *ngIf="end_date.invalid && end_date.touched">
                <small class="text-danger" *ngIf="end_date.errors?.required">
                  Please Enter Ending Date
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="start_time"
                >Starting Time<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  class="form-control"
                  id="start_time"
                  formControlName="start_time"
                  type="time"
                  name="start_time"
                  placeholder="Starting Date"
                />
              </div>
              <div *ngIf="start_time.invalid && start_time.touched">
                <small class="text-danger" *ngIf="start_time.errors?.required">
                  Please Enter Starting Time
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="end_time"
                >Ending Time<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  class="form-control"
                  id="end_time"
                  formControlName="end_time"
                  type="time"
                  name="end_time"
                  placeholder="Ending  Date"
                />
              </div>
              <div *ngIf="end_time.invalid && end_time.touched">
                <small class="text-danger" *ngIf="end_time.errors?.required">
                  Please Enter Ending Time
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="photo_name">Photo</label>
              <input
                type="file"
                id="photo_name"
                class="form-control"
                placeholder="photo"
                (change)="onSelectPhoto($event)"
              />
              <input
                type="hidden"
                class="form-control"
                formControlName="photo"
              />
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="details"
                >details<samp class="text-danger">*</samp></label
              >
              <div class="">
                <textarea
                  class="form-control"
                  id="details"
                  formControlName="details"
                  type="text"
                  name="details"
                  placeholder="Details"
                ></textarea>
              </div>
              <div *ngIf="details.invalid && details.touched">
                <small class="text-danger" *ngIf="details.errors?.required">
                  Please Enter Details
                </small>
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="editEvent()"
            [disabled]="createEventForm.invalid"
          >
            <i class="fa fa-dot-circle-o"></i>
            Edit Event
          </button>
          <button
            type="reset"
            class="btn btn-sm btn-danger"
            (click)="resetEvent()"
          >
            <i class="fa fa-ban"></i> Reset
          </button>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
