<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Parents</strong></div>
      <div class="card-body">
        <form [formGroup]="createParentsForm">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="photo_name">Photo</label>
              <input
                type="file"
                id="photo_name"
                class="form-control"
                placeholder="photo"
                (change)="onSelectPhoto($event)"
              />
              <input
                type="hidden"
                class="form-control"
                formControlName="photo"
              />
              <!-- <img [src]="url" id="img" /> -->
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="guardian_name"
                >Guardian Name<samp class="text-danger">*</samp></label
              >
              <input
                type="text"
                id="guardian_name"
                formControlName="guardian_name"
                name="guardian_name"
                class="form-control"
                placeholder="Guardian Name"
              />
              <div *ngIf="guardian_name.invalid && guardian_name.touched">
                <small
                  class="text-danger"
                  *ngIf="guardian_name.errors?.required"
                >
                  Please Enter Guardian Name
                </small>
              </div>
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="father_name"
                >Father name</label
              >
              <div class="">
                <input
                  type="text"
                  id="father_name:"
                  formControlName="father_name"
                  name="father_name"
                  class="form-control"
                  placeholder="Father name"
                />
              </div>
            </div>

            <div class="col-md-4">
              <label class="col-form-label" for="mother_name"
                >Mother name</label
              >
              <div class="">
                <input
                  type="text"
                  id="mother_name"
                  formControlName="mother_name"
                  name="mother_name"
                  class="form-control"
                  placeholder="Mother name"
                />
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="father_profession"
                >Father Profession</label
              >
              <div class="">
                <input
                  type="text"
                  id="father_profession"
                  formControlName="father_profession"
                  name="father_profession"
                  class="form-control"
                  placeholder="father_profession"
                />
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="mother_profession"
                >Mother Profession</label
              >
              <div class="">
                <input
                  type="text"
                  id="mother_profession"
                  formControlName="mother_profession"
                  name="mother_profession"
                  class="form-control"
                  placeholder="mother_profession"
                />
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="email"
                >Email<samp class="text-danger">*</samp>
              </label>
              <div class="">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  name="email"
                  class="form-control"
                  placeholder="Email "
                  autocomplete="Email "
                />
              </div>
              <div *ngIf="email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors?.required">
                  Please Enter valid Email1
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="phone">Phone</label>
              <div class="">
                <input
                  type="text"
                  id="phone"
                  formControlName="phone"
                  name="phone"
                  class="form-control"
                  placeholder="phone"
                />
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-8">
              <label class="col-form-label" for="address">Address </label>
              <div class="">
                <input
                  type="text"
                  id="address"
                  formControlName="address"
                  name="address"
                  class="form-control"
                  placeholder="Address "
                />
              </div>
            </div>

            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="status">Status</label>
              <div class="">
                <select class="form-control" formControlName="status">
                  <option value="" selected disabled>-----Select-----</option>
                  <option value="0">In Active</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="editParents()"
            [disabled]="createParentsForm.invalid"
          >
            <i class="fa fa-dot-circle-o"></i> Edit Parent
          </button>
          <button
            type="reset"
            class="btn btn-sm btn-danger"
            (click)="resetParents()"
          >
            <i class="fa fa-ban"></i> Reset
          </button>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
