<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Student Attendance</strong></div>
      <div class="card-body">
        <form [formGroup]="getStudentAttendanceForm">
          <div class="form-group row">
            <div class="col-md-3">
              <label class="col-form-label" for="class"
                >Class<span class="text-danger">*</span></label
              >
              <div class="">
                <select
                  class="form-control"
                  formControlName="class"
                  (change)="onClassChanged()"
                >
                  <option value="" selected disabled>--Select--</option>
                  <option
                    *ngFor="let data of ClassList"
                    value="{{ data._id }}"
                    title="{{ data.class }}"
                    >{{ data.class }}</option
                  >
                  <div *ngIf="class.invalid && class.touched">
                    <small class="text-danger" *ngIf="class.errors?.required">
                      Please Enter Class
                    </small>
                  </div>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="section"
                >Section<span class="text-danger">*</span></label
              >
              <div class="">
                <select class="form-control" formControlName="section">
                  <option value="" selected disabled>---Select---</option>
                  <ng-container *ngFor="let data of classSectionList">
                    <option value="{{ data._id }}" title="{{ data.section }}">{{
                      data.section
                    }}</option>
                    <div *ngIf="section.invalid && section.touched">
                      <small
                        class="text-danger"
                        *ngIf="section.errors?.required"
                      >
                        Please Enter Section
                      </small>
                    </div>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="subject"
                >Subject<span class="text-danger">*</span></label
              >
              <div class="">
                <select class="form-control" formControlName="subject">
                  <option value="" selected disabled>---Select---</option>
                  <ng-container *ngFor="let data of classSubjectList">
                    <option value="{{ data._id }}" title="{{ data.subject }}">{{
                      data.subject_name
                    }}</option>
                    <div *ngIf="subject.invalid && subject.touched">
                      <small
                        class="text-danger"
                        *ngIf="subject.errors?.required"
                      >
                        Please Enter Subject
                      </small>
                    </div>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="date"
                >Date<span class="text-danger">*</span>
              </label>
              <div class="">
                <input
                  type="text"
                  id="date"
                  name="date"
                  class="form-control"
                  placeholder="Date"
                  (change)="onDateChanged()"
                  formControlName="date"
                />
              </div>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="getStudentAttendance()"
            [disabled]="getStudentAttendanceForm.invalid"
          >
            <i class="fa fa-dot-circle-o"></i>
            Attendance
          </button>
          <button
            type="reset"
            class="btn btn-sm btn-danger"
            (click)="resetStudentAttendanceForm()"
          >
            <i class="fa fa-ban"></i> Reset
          </button>
        </form>
        <table
          class="table table-striped"
          [svData]="StudentAttendanceList"
          #sv="svDataTable"
          [svRowsOnPage]="5"
          svSortBy="name"
          svSortOrder="asc"
        >
          <thead>
            <tr>
              <th>Photo</th>
              <th>Name</th>
              <th>Email</th>
              <th>Roll No</th>
              <th>Attendance</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of sv.data; let i = index">
              <td style="vertical-align: top;">
                <img class="photo" src="{{ apiUrl }}{{ data.photo }}" />
              </td>
              <td>{{ data?.student_name }}</td>
              <td>{{ data?.email }}</td>
              <td>{{ data?.roll_no }}</td>

              <td class="action">
                <div class="form-group row">
                  <div class="col-md-9 col-form-label">
                    <div
                      class="form-check form-check-inline mr-1"
                      id="inline-radios"
                    >
                      <input
                        class="form-check-input"
                        type="radio"
                        name="radio_{{ i }} "
                        id="inlineRadio1"
                        [value]="1"
                        [(ngModel)]="data.attendance"
                      />
                      <label class="form-check-label" for="inlineRadio1"
                        >Present</label
                      >
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="radio_{{ i }}"
                        id="inlineRadio2"
                        [value]="2"
                        [(ngModel)]="data.attendance"
                      />
                      <label class="form-check-label" for="inlineRadio2"
                        >Late Present With Excuse</label
                      >
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="radio_{{ i }}"
                        id="inlineRadio3"
                        [value]="3"
                        [(ngModel)]="data.attendance"
                      />
                      <label class="form-check-label" for="inlineRadio3"
                        >Late Present</label
                      >
                    </div>
                    <div class="form-check form-check-inline mr-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="radio_{{ i }}"
                        id="inlineRadio4"
                        [value]="4"
                        [(ngModel)]="data.attendance"
                      />
                      <label class="form-check-label" for="inlineRadio4"
                        >Absent</label
                      >
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="12">
                <sv-bootstrap-paginator
                  [rowsOnPageSet]="[5, 10, 25]"
                ></sv-bootstrap-paginator>
              </td>
            </tr>
          </tfoot>
        </table>
        <button
          type="submit"
          class="btn btn-sm btn-primary"
          (click)="setStudentAttendance()"
        >
          <i class="fa fa-dot-circle-o"></i>
          Attendance
        </button>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
