<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Teacher</strong></div>
      <div class="card-body">
        <form [formGroup]="createTeacherForm">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="photo_name">Photo</label>
              <input
                type="file"
                id="photo_name"
                class="form-control"
                placeholder="photo"
                (change)="onSelectPhoto($event)"
              />
              <input
                type="hidden"
                class="form-control"
                formControlName="photo"
              />
            </div>

            <div class="col-md-4">
              <label class="col-form-label" for="name"
                >Name<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  type="text"
                  id="name"
                  formControlName="name"
                  name="name"
                  class="form-control"
                  placeholder="Name"
                />
              </div>

              <div *ngIf="name.invalid && name.touched">
                <small class="text-danger" *ngIf="name.errors?.required">
                  Please Enter Name
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="designation"
                >Designation<samp class="text-danger">*</samp>
              </label>
              <div class="">
                <input
                  type="text"
                  id="designation"
                  formControlName="designation"
                  name="designation"
                  class="form-control"
                  placeholder="Designation"
                />
              </div>
              <div *ngIf="designation.invalid && designation.touched">
                <small class="text-danger" *ngIf="designation.errors?.required">
                  Please Enter Designation
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="dob"
                >Date Of Birth<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  class="form-control"
                  id="dob"
                  formControlName="dob"
                  name="dob"
                   (change)="onDateChanged()"
                  placeholder="Date Of Birth"
                />
              </div>
              <div *ngIf="dob.invalid && dob.touched">
                <small class="text-danger" *ngIf="dob.errors?.required">
                  Please Enter Date of Birth
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="joining_date"
                >Joining Date<samp class="text-danger">*</samp>
              </label>
              <div class="input-group">
                <input
                  class="form-control"
                  id="joining_date"
                  formControlName="joining_date"
                  type="text"
                  name="joining_date"
                  (change)="onDateChanged()"
                  placeholder="Joining Date"
                />
              </div>

              <div *ngIf="joining_date.invalid && joining_date.touched">
                <small
                  class="text-danger"
                  *ngIf="joining_date.errors?.required"
                >
                  Please Enter Joining Date
                </small>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="gender">Gender</label>
              <div class="">
                <!-- <input
                    type="text"
                    id="gender"
                    formControlName="gender"
                    name="gender"
                    class="form-control"
                    placeholder="Gender"
                  /> -->
                <select class="form-control" formControlName="gender">
                  <option value="" selected disabled>----Select----</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="religion">Religion</label>
              <div class="">
                <input
                  type="text"
                  id="religion"
                  formControlName="religion"
                  name="religion"
                  class="form-control"
                  placeholder="religion"
                />
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="email"
                >Email<samp class="text-danger">*</samp>
              </label>
              <div class="">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  name="email"
                  class="form-control"
                  placeholder="Email "
                  autocomplete="Email "
                />
              </div>
              <div *ngIf="email.invalid && email.touched">
                <small class="text-danger" *ngIf="email.errors?.required">
                  Please Enter valid Email
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="phone">Phone</label>
              <div class="">
                <input
                  type="text"
                  id="phone"
                  formControlName="phone"
                  name="phone"
                  class="form-control"
                  placeholder="phone"
                />
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-8">
              <label class="col-form-label" for="address">Address </label>
              <div class="">
                <input
                  type="text"
                  id="address"
                  formControlName="address"
                  name="address"
                  class="form-control"
                  placeholder="Address "
                />
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="status">Status</label>
              <div class="">
                <select class="form-control" formControlName="status">
                  <option value="" selected disabled>-----Select-----</option>
                  <option value="0">In Active</option>
                  <option value="1">Active</option>
                </select>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="editTeacher()"
            [disabled]="createTeacherForm.invalid"
          >
            <i class="fa fa-dot-circle-o"></i>Edit Teacher
          </button>
          <button
            type="reset"
            class="btn btn-sm btn-danger"
            (click)="resetTeacher()"
          >
            <i class="fa fa-ban"></i> Reset
          </button>
        </form>
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>
