<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong class="col-form-label"> Exam Attendance </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <a
                *ngIf="enableAdd"
                [routerLink]="['/exam/exam-attendance/add-exam-attendance']"
              >
                <i class=" icon-plus  m-1"> Add Exam Attendance </i>
              </a>
              <div class="exp_btn" id="btn_csv">
                <button (click)="onBtnExport()">CSV</button>
                <button (click)="onBtnExportExcel()">Excel</button>
              </div>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-md-3">
              <label class="col-form-label" for="class"
                >Exam Name<span class="text-danger">*</span></label
              >
              <div class="">
                <select class="form-control" [(ngModel)]="examname">
                  <option value="" selected disabled>---Select Class---</option>
                  <ng-container *ngFor="let data of ExamList">
                    <option
                      value="{{ data._id }}"
                      title="{{ data.examname }}"
                      >{{ data.examname }}</option
                    >
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="class"
                >Class<span class="text-danger">*</span></label
              >
              <div class="">
                <select
                  class="form-control"
                  (change)="onClassChanged()"
                  [(ngModel)]="class"
                >
                  <option value="" selected disabled>---Select Class---</option>
                  <ng-container *ngFor="let data of ClassList">
                    <option value="{{ data._id }}" title="{{ data.class }}">{{
                      data.class
                    }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="section"
                >Section<span class="text-danger">*</span></label
              >
              <div class="">
                <select class="form-control" [(ngModel)]="section" required>
                  <option value="" selected disabled
                    >---Select Section---</option
                  >
                  <ng-container *ngFor="let data of selectedClassSection">
                    <option value="{{ data._id }}" title="{{ data.section }}">{{
                      data.section
                    }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="section"
                >Subject<span class="text-danger">*</span></label
              >
              <div class="">
                <select class="form-control" [(ngModel)]="subject">
                  <option value="" selected disabled
                    >---Select Section---</option
                  >
                  <ng-container *ngFor="let data of selectedClassSubject">
                    <option value="{{ data._id }}" title="{{ data.subject }}">{{
                      data.subject_name
                    }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>

          <button
            style="margin-bottom: 15px;"
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="getExamAttendance()"
            [disabled]="!examname || !class || !section || !subject"
          >
            <i class="fa fa-dot-circle-o"></i>
            View Attendance
          </button>

          <ag-grid-angular
            style="width: 100%; height: 400px;"
            suppressCellSelection="true"
            class="ag-theme-balham"
            [rowData]="ExamAttendaceList"
            [columnDefs]="columnDefs"
            rowHeight="50"
            #agGrid
            paginationPageSize="5"
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
