<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong class="col-form-label"> Mark </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <a *ngIf="enableAdd" [routerLink]="['/mark/marks/add-mark']">
                <i class=" icon-plus  m-1"> Add Mark </i>
              </a>
              <div class="exp_btn" id="btn_csv">
                <button (click)="onBtnExport()">CSV</button>
                <button (click)="onBtnExportExcel()">Excel</button>
              </div>
            </div>
          </div>
          <div class="form-group row ">
            <div class="col-md-3">
              <label class="col-form-label" for="class"
                >Class<span class="text-danger">*</span></label
              >
              <div class="">
                <select
                  class="form-control"
                  (change)="onClassChanged()"
                  [(ngModel)]="class"
                >
                  <option value="" selected disabled>---Select Class---</option>
                  <ng-container *ngFor="let data of ClassList">
                    <option value="{{ data._id }}" title="{{ data.class }}">{{
                      data.class
                    }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label class="col-form-label" for="section"
                >Section<span class="text-danger">*</span></label
              >
              <div class="">
                <select
                  class="form-control"
                  [(ngModel)]="section"
                  (change)="onSectionChanged()"
                  required
                >
                  <option value="" selected disabled
                    >---Select Section---</option
                  >
                  <ng-container *ngFor="let data of selectedClassSection">
                    <option value="{{ data._id }}" title="{{ data.section }}">{{
                      data.section
                    }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>

          <!-- <ag-grid-angular
            style="width: 100%; height: 400px;"
            suppressCellSelection="true"
            class="ag-theme-balham"
            [rowData]="MarkList"
            [columnDefs]="columnDefs"
            rowHeight="50"
            #agGrid
            paginationPageSize="5"
          >
          </ag-grid-angular> -->
          <ag-grid-angular
            style="width: 100%; height: 400px;"
            suppressCellSelection="true"
            class="ag-theme-balham"
            [rowData]="StudentList"
            [columnDefs]="columnDefs"
            rowHeight="50"
            #agGrid
            pagination="true"
            paginationPageSize="5"
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
