<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div class="row">
        <div classs="col-sm-6">
          <button class="btn-cs btn-sm-cs">
            <span class="fa fa-print"></span> Print
          </button>
          <a
            href="https://demo.inilabs.net/school/v4.4/student/print_preview/1/1"
            class="btn-cs btn-sm-cs"
            style="text-decoration: none;"
            role="button"
            target="_blank"
            ><i class="fa fa-file"></i> PDF Preview</a
          >
          <!-- <a
            href="https://demo.inilabs.net/school/v4.4/student/edit/1/1"
            class="btn-cs btn-sm-cs"
            style="text-decoration: none;"
            role="button"
            [routerLink]="['/announcement/event/edit-event', eventview?._id]"
            ><i class="fa fa-edit"></i> Edit</a
          > -->

          <button
            class="btn-cs btn-sm-cs"
            data-toggle="modal"
            data-target="#mail"
          >
            <span class="fa fa-envelope-o"></span> Send Pdf to Mail
          </button>
        </div>
      </div>
    </div>
    <div id="printablediv">
      <div class="row">
        <div class="col-sm-3">
          <div
            class="box box-primary"
            style="background-color: white; padding: 15px;"
          >
            <div class="box-body box-profile">
              <!-- <img
                  src="http://192.168.1.46:3000/student/photo/1581322946326.jpeg"
                /> -->
              <img
                class="profile-user-img img-responsive img-circle"
                [src]="apiUrl + studentview?.photo"
                alt=""
              />
              <h3 class="profile-username text-center">
                {{ studentview?.student_name }}
              </h3>
              <p class="text-muted text-center">Student</p>
              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Register NO</b>
                  <a class="pull-right">{{ studentview?.register_no }}</a>
                </li>
                <li class="list-group-item">
                  <b>Roll</b>
                  <a class="pull-right">{{ studentview?.roll_no }}</a>
                </li>
                <li class="list-group-item">
                  <b>Class</b>
                  <a class="pull-right">{{ studentview?.class.class }}</a>
                </li>
                <li class="list-group-item">
                  <b>Section</b>
                  <a class="pull-right">{{ studentview?.section.section }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="nav-tabs-custom ">
            <ul class="nav nav-tabs">
              <li class="active">
                <a class="tabmenu">Mark</a>
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane"
                class="active"
                style="margin:10px 10px 10px 10px ;"
              >
                <div
                  class="box"
                  *ngFor="let examObj of marksDataList"
                  style="border-top: 1px solid #23292F;
                border-left: 1px solid #23292F;
                border-right: 1px solid #23292F;
                border-bottom: 1px solid #23292F;"
                >
                  <div class="box-header" style="background-color:#FFFFFF;">
                    <h3
                      class="box-title"
                      style="color:#23292F; color: #23292F;
                    font-size: 14px;
                    padding: 15px;
                    display: inline-block;
                    margin: 0;
                    font-weight: 400;"
                    >
                      <!-- First Semester -->
                      {{ examObj.exam }}
                    </h3>
                  </div>
                  <div
                    class="box-body mark-bodyID mCustomScrollbar _mCS_1 mCS_no_scrollbar"
                    style="border-top:1px solid #23292F;"
                  >
                    <div
                      id="mCSB_1"
                      class="mCustomScrollBox mCS-light mCSB_horizontal mCSB_inside"
                      style="max-height: none;"
                      tabindex="0"
                    >
                      <div
                        id="mCSB_1_container"
                        class="mCSB_container mCS_x_hidden mCS_no_scrollbar_x"
                        style="position: relative; top: 0px; left: 0px; width: 100%;"
                        dir="ltr"
                      >
                        <table
                          class="table table-bordered table-mark"
                          style="width:100%"
                        >
                          <thead>
                            <tr style="background-color: #a7c2d0;">
                              <td rowspan="2">Subject</td>

                              <td
                                *ngFor="let marks_type of MarkDistributionList"
                              >
                                {{ marks_type.mark_distribution_type }}
                                <!-- ({{ marks_type.mark_value }}) -->
                              </td>
                              <td colspan="3">Total</td>
                            </tr>
                            <tr>
                              <td
                                *ngFor="let marks_type of MarkDistributionList"
                              >
                                Obtained Mark
                              </td>

                              <td>Mark</td>
                              <td>Point</td>
                              <td>Grade</td>
                            </tr>
                            <tr
                              *ngFor="
                                let subjectObj of examObj.subjects;
                                let i = index
                              "
                            >
                              <td>
                                {{ subjectObj?.subject }}
                              </td>
                              <td
                                *ngFor="
                                  let markObj of subjectObj.marks;
                                  let j = index
                                "
                              >
                                {{ markObj.val }}/
                                {{ markObj.maxval }}
                              </td>
                              <td>{{ subjectObj.totalsubmark }}</td>
                              <td>{{subjectObj.point}}</td>
                              <td>{{subjectObj.grade}}</td>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                        <div class="box-footer" style="padding-left:0px;">
                          <p class="text-black">
                            Total Marks :
                          <span class="text-red text-bold">{{
                              examObj.totalObtainedMarks
                            }}</span>
                            Total Obtained Marks :<span
                              class="text-red text-bold"
                              >{{ examObj.totalMarks }}</span
                            >
                          </p>
                        </div>
                      </div>
                      <div
                        id="mCSB_1_scrollbar_horizontal"
                        class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_horizontal"
                        style="display: none;"
                      >
                        <div class="mCSB_draggerContainer">
                          <div
                            id="mCSB_1_dragger_horizontal"
                            class="mCSB_dragger"
                            style="position: absolute; min-width: 30px; width: 0px; left: 0px;"
                          >
                            <div class="mCSB_dragger_bar"></div>
                          </div>
                          <div class="mCSB_draggerRail"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
