<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Assignment</strong></div>
      <div class="card-body">
        <form [formGroup]="createAssigmentForm">
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="title"
                >Title<span class="text-danger">*</span>
              </label>
              <div class="">
                <input
                  type="text"
                  id="title"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                  formControlName="title"
                />
                <div *ngIf="title.invalid && title.touched">
                  <small class="text-danger" *ngIf="title.errors?.required">
                    Please Enter Title
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="description"
                >Description<span class="text-danger">*</span>
              </label>
              <div class="">
                <input
                  type="text"
                  id="description"
                  name="description"
                  class="form-control"
                  placeholder="Description"
                  formControlName="description"
                />
                <div *ngIf="description.invalid && description.touched">
                  <small
                    class="text-danger"
                    *ngIf="description.errors?.required"
                  >
                    Please Enter Description
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="deadline"
                >Deadline<samp class="text-danger">*</samp></label
              >
              <div class="">
                <input
                  class="form-control"
                  id="deadline"
                  formControlName="deadline"
                  type="text"
                  name="deadline"
                  (change)="onDateChanged()"
                  placeholder="deadline"
                />
              </div>
              <div *ngIf="deadline.invalid && deadline.touched">
                <small class="text-danger" *ngIf="deadline.errors?.required">
                  Please Enter Deadline
                </small>
              </div>
            </div>
            <div class="col-md-4">
              <label class="col-form-label" for="class_id"
                >Class<span class="text-danger">*</span></label
              >
              <div class="">
                <select
                  class="form-control"
                  formControlName="class"
                  (change)="onClassChanged()"
                >
                  <option value="" selected disabled>--Select--</option>

                  <option
                    *ngFor="let data of ClassList"
                    value="{{ data._id }}"
                    title="{{ data.class }}"
                    >{{ data.class }}</option
                  >
                  <div *ngIf="class.invalid && class.touched">
                    <small class="text-danger" *ngIf="class.errors?.required">
                      Please Enter Class
                    </small>
                  </div>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="section">Section</label>
              <div class="">
                <select class="form-control" formControlName="section">
                  <option value="" selected disabled>--Select--</option>
                  <ng-container *ngFor="let data of classSectionList">
                    <option value="{{ data._id }}" title="{{ data.section }}">{{
                      data.section
                    }}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <label class="col-form-label" for="subject"
                >Subject<span class="text-danger">*</span></label
              >
              <div class="">
                <select class="form-control" formControlName="subject">
                  <option value="" selected disabled>--Select--</option>
                  <ng-container *ngFor="let data of classSubjectList">
                    <option value="{{ data._id }}" title="{{ data.subject }}">{{
                      data.subject_name
                    }}</option>
                    <div *ngIf="subject.invalid && subject.touched">
                      <small
                        class="text-danger"
                        *ngIf="subject.errors?.required"
                      >
                        Please Enter Subject
                      </small>
                    </div>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-4">
              <label class="col-form-label" for="file_name"
                >File<span class="text-danger">*</span></label
              >
              <input
                type="file"
                id="file_name"
                class="form-control"
                placeholder="File"
                formControlName="file_name"
                (change)="onSelectFile($event)"
              />
              <input type="hidden" class="form-control" />
              <div *ngIf="file_name.invalid && file_name.touched">
                <small class="text-danger" *ngIf="file_name.errors?.required">
                  Please Select File
                </small>
              </div>
            </div>
            <div class="col-md-4"></div>
          </div>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            (click)="addAssignment()"
            [disabled]="createAssigmentForm.invalid"
          >
            <i class="fa fa-dot-circle-o"></i>
            Add Assignment
          </button>
          <button
            type="reset"
            class="btn btn-sm btn-danger"
            (click)="resetAssignment()"
          >
            <i class="fa fa-ban"></i> Reset
          </button>
        </form>
      </div>
      <div class="card-footer">
        Note: If you don't select any section then assignment will apply to all
        section of selected class
      </div>
    </div>
  </div>
</div>
